@tailwind base;
@tailwind components;
@tailwind utilities;
*{box-sizing:border-box}
body{background:white;color:#1A1A1A;font-family:'Inter',sans-serif}
.scrollbar-hide::-webkit-scrollbar{display:none}
.scrollbar-hide{-ms-overflow-style:none;scrollbar-width:none}


/* Hide Chrome / Edge password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide Chrome autofill / password buttons */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-password-reveal-button {
  display: none !important;
}